h1 {
  font-family: "Avenir Next";
  text-align: center;
  color: teal;
  font-weight: bold;
}

.Contact {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 12pt;
}

img.icon {
  padding: 10px;
  width: 25px;
  object-fit: cover;
  border-radius: 5px;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 15pt;
}

#Par-About-Me {
  width: 1000px;
}

.Contacts-Text {
  color: blue;
  list-style-type: none;
}
